*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  font-size: 63%;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

body {
  line-height: 1.3;
  color: #151515;
}

:root {
  --white: #FFF;
}

/* ================================ */
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* =====================header=================== */
.header {
  background-color: #151515;
}

.header-main {
  background-color: transparent;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__inner {
  padding-top: 40px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {}

.menu {}

.menu__list {
  display: flex;
  gap: 35px;

}

.menu__list-item {}

.menu__list-link {
  color: var(--white, #FFF);
  font-size: 1.6rem;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}

.main {
  flex-grow: 1;
}

/* =======================footer============= */
.footer {
  background-color: #151515;
  padding: 50px 0 32px;
  color: var(--white, #FFF);
  font-size: 1.6rem;
}

.footer__menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.footer__menu-list {
  max-width: 225px;
}

.footer__menu-title {
  font-size: 2.4rem;
  font-weight: 700;
  padding-bottom: 20px;
}

.footer__menu-item+.footer__menu-item {
  padding-top: 20px;
}


.app {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
}

.footer__copy {
  width: 806px;
  margin: 0 auto;
  font-size: 1.2rem;
  margin-bottom: 30px;
  text-align: center;
}

.footer__copy-tel {
  text-decoration: underline;
}


.copy__nav-list {
  display: flex;
  justify-content: center;
  gap: 40px;

}